{% extends 'base.html.twig' %}

{% block search %}

{% endblock %}
{% block body %}

    <style>
        footer {
            background: #343a40;
            padding: 42px 0 20px 0;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="{{ path('app_account') }}" class="list-group-item list-group-item-action active">Profiel overzicht</a>
                    <a href="{{ path('bedrijven') }}" class="list-group-item list-group-item-action ">Mijn bedrijven</a>
                    <a href="{{ path('bedrijf_aanmaken') }}" class="list-group-item list-group-item-action ">Nieuw bedrijf aanmaken</a>



                </div>
            </div>
            {% if zwollegegevens %}
            {% for zwollegegevens in zwollegegevens %}
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Profiel</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group row">
                                        <label for="username" class="col-4 col-form-label">Gebruikersnaam</label>
                                        <div class="col-8">
                                            <input id="username" name="username"  value="{{zwollegegevens.username}}" class="form-control here" required="required" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Voornaam</label>
                                        <div class="col-8">
                                            <input id="name" name="name" value="{{zwollegegevens.voornaam}}"  class="form-control here" type="text" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lastname" class="col-4 col-form-label">Achternaam</label>
                                        <div class="col-8">
                                            <input id="lastname" name="lastname" value="{{zwollegegevens.achternaam}}"  class="form-control here" type="text" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-4 col-form-label">Email</label>
                                        <div class="col-8">
                                            <input id="email" name="email" value="{{zwollegegevens.email}}"  class="form-control here" required="required" type="text" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="website" class="col-4 col-form-label">Gebruikersid</label>
                                        <div class="col-8">
                                            <input id="website" name="website" value="{{zwollegegevens.id}}"  class="form-control here" type="text" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="publicinfo" class="col-4 col-form-label">Bio</label>
                                        <div class="col-8">
                                            <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% else %}
<p> Er zijn geen gegevens gevonden!</p>
{% endif %}
{% endblock %}
