{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Lorem ipsum</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
            <a class="btn btn-primary btn-lg" href="#">Lorem ipsum &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Lorem ipsums</h2>
            <hr>
            <address>
                <strong>Lorem ipsum</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">name@example.com</a>
            </address>
        </div>
    </div>
    </div>
    <br>

    <br>
    <br>
    <div class="container">

    {% if ZwolleGegevens %}
        <div class="row">
    {% for ZwolleGegevens in ZwolleGegevens %}

        <div class="col-md-4 mb-5" style="margin-bottom: 30px;">
            <div class="card h-100">
                <div class="card-header">
                    <h4  style="text-align: center;" class="card-title">{{ ZwolleGegevens.ORG}}</h4>
                </div>
                    <div class="card-body font-weight-light">
                    {% if ZwolleGegevens.ADD1 %}
                        <p class="card-text">Adres: {{ ZwolleGegevens.ADD1 }} {{ ZwolleGegevens.ADD2 }}{{ ZwolleGegevens.ADD3 }}, {{ ZwolleGegevens.PC }}</p>
                     {% else %}
                     {% endif %}

                    {% if ZwolleGegevens.Email1 %}
                        <p class="card-text">Stad: {{ ZwolleGegevens.CITY }}</p>
                    {% else %}
                    {% endif %}

                    {% if ZwolleGegevens.Email1 %}
                        <p class="card-text">Emailadres: {{ ZwolleGegevens.Email1 }}</p>
                    {% else %}
                    {% endif %}

                    {% if ZwolleGegevens.Phone1 %}
                        <p class="card-text">Telefoonnummer: {{ ZwolleGegevens.Phone1 }}</p>
                    {% else %}
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a style="width: 100%;" href="{{ path('bedrijf', { 'slug' :  ZwolleGegevens.id }) }}"  class="btn btn-outline-primary">Lees Verder</a>
                </div>
            </div>

        </div>
    {% endfor %}
    {% else %}
        <p>Er zijn Geen Gegevens gevonden</p>
    {% endif %}
    </div>
    </div>

    <br>
{% endblock %}