{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('assets/images/zwolle_1.jpg')">
                <div class="dark-layer"></div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('assets/images/zwolle_2.jpg')">
                <div class="dark-layer"></div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('assets/images/zwolle_3.jpg')">
                <div class="dark-layer"></div>
            </div>
                <div class="container">
                    <div class="search">
                        <form>
                            <div class="inner-form">
                                <div class="input-field first-wrap">
                                    <input id="search" type="text" placeholder="Postcode, Type" />
                                </div>
                                <div class="input-field third-wrap">
                                    <button class="btn-search" type="button">Zoeken</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <br>
    <div class="container">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=18pdk4xfKAOM-waPg8ODJ42igqib_ak8I" width="100%;" height="75%;"></iframe>
    </div>
    <br>
    <br>
    <div class="container">

    {% if ZwolleGegevens %}
        <div class="row">
    {% for ZwolleGegevens in ZwolleGegevens %}

        <div class="col-md-4 mb-5" style="margin-bottom: 30px;">
            <div class="card h-100">
                <div class="card-header">
                    <h4  style="text-align: center;" class="card-title">{{ ZwolleGegevens.ORG}}</h4>
                </div>
                    <div class="card-body font-weight-light">
                    <p class="card-text">Adres: {{ ZwolleGegevens.ADD1 }} {{ ZwolleGegevens.ADD2 }}{{ ZwolleGegevens.ADD3 }}, {{ ZwolleGegevens.PC }}</p>
                    <p class="card-text">Stad: {{ ZwolleGegevens.CITY }}</p>
                    <p class="card-text">Emailadres: {{ ZwolleGegevens.Email1}}</p>
                    <p class="card-text">Telefoonnummer: {{ ZwolleGegevens.Phone1}}</p>
                </div>
                <div class="card-footer">
                    <a style="width: 100%;" href=""  class="btn btn-outline-primary">Lees Verder</a>
                </div>
            </div>

        </div>
    {% endfor %}
    {% else %}
        <p>Er zijn Geen Gegevens gevonden</p>
    {% endif %}
    </div>
    </div>

    <br>
{% endblock %}