{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">


            <!-- Blog Entries Column -->

                <h1 class="my-4">Resultaat
                </h1>
                <div class="row">
                    {% if ZwolleGegevens %}
                    {% for ZwolleGegevens in ZwolleGegevens %}
                    <div class="row">
                    <div class="col-md-6">
                        <a href="#">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/555x237" alt="">
                        </a>
                    </div>
                    <div class="col-md-6 font-weight-light">
                        <h3>{{ ZwolleGegevens.ORG }}</h3>
                        <p>Adres: {{ ZwolleGegevens.ADD1 }} {{ ZwolleGegevens.ADD2 }}{{ ZwolleGegevens.ADD3 }}, {{ ZwolleGegevens.PC }} {{ ZwolleGegevens.CITY }}</p>
                        <p>Telefoonnummer: {{ ZwolleGegevens.Phone1 }}</p>
                        <p>Email: {{ ZwolleGegevens.Email1 }}</p>
                        <p>Website: {{ ZwolleGegevens.Address }}</p>
                        <a class="btn btn-outline-primary" href="#">Bekijk bedrijf</a>
                        <hr>
                    </div>

                </div>
            <!-- /.row -->


                    {% endfor %}
                {% else %}
                    <p>Er zijn Geen Gegevens gevonden</p>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}