{% extends 'base.html.twig' %}

  {% block navbar %}

      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
          <a class="navbar-brand" href="{{ path('home') }}">
              <img src="../../assets/images/logozwolle.png" >
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">


              </ul>

              <form class="form-inline my-2 my-lg-0">
            <a href="{{ path('home') }}" type="button" class="btn btn-primary">Verder met zoeken</a>
              <ul class="nav navbar-nav ml-auto">


                  <ul class="navbar-nav ml-auto mx-auto">

                  </ul>

                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                  <li class="nav-item dropdown no-arrow">
                      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i style="font-size: 20px;" class="fa fa-user" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                          <a class="dropdown-item" href="{{ path('app_account') }}">Instellingen</a>
                          <div class="dropdown-divider"></div>
                          {% if is_granted('ROLE_ADMIN') %}
                              <a class="dropdown-item" href="{{ path('admin') }}">Admin</a>
                              <div class="dropdown-divider"></div>
                          {% endif %}
                          <a class="dropdown-item" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">Uitloggen</a>
                      </div>
                  </li>
              </ul>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link"  style="margin-top: 20px;" href="{{ path('app_login') }}">
                      <p>Inloggen</p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" style="margin-top: 20px;" href="{{ path('app_register') }}">
                          <p>Registreren</p>
                      </a>
                  </li>


              {% endif %}
          </div>
      </nav>

  {% endblock %}
  {% block search %}{% endblock %}
{% block body %}
    <div class="container google-maps">
        <div class="row">
            <div class="map" id="map" style="height: 500px; width: 100%;">
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="container">


        <div class="row">
            {% if ZwolleGegevens %}
            {% for ZwolleGegevens in ZwolleGegevens %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/testimage.png" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <p class="bedrijfs-title">{{  ZwolleGegevens.ORG }}</p>
                        </h4>
                        {% if ZwolleGegevens.LOC == 1 %}
                            <p class="card-text">Adres: {{ ZwolleGegevens.ADD1 }} {{ ZwolleGegevens.ADD2 }}{{ ZwolleGegevens.ADD3 }}, {{ ZwolleGegevens.PC }}</p>
                        {% else %}
                            <p class="card-text">Locatie: Er zijn geen locatie gevonden.</p>
                        {% endif %}
                        {% if ZwolleGegevens.CLASS == 1 %}
                            <p class="card-text">Type: {{ ZwolleGegevens.Desc1 }}</p>
                        {% else %}
                            <p class="card-text">Type: Er is geen branch gevonden.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary bedrijfs-button" href="{{ path('bedrijf', { 'slug' :  ZwolleGegevens.id }) }}">Bekijk bedrijf</a>
                    </div>
                </div>
            </div>
        {% endfor %}
            {% else %}
                <p>Er zijn geen reaultaaten gevonden.</p>
        {% endif %}
        </div>

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMkHJ8JOmKtDtxYBlzRmXDZg9XFs1um6U&callback=initMap"></script>
    <script type="text/javascript">
        var delay = 1;
        var infowindow = new google.maps.InfoWindow();
        var latlng = new google.maps.LatLng(52.5120114, 6.0950112);
        var mapOptions = {
            zoom: 16,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var geocoder = new google.maps.Geocoder();
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var bounds = new google.maps.LatLngBounds();

        function geocodeAddress(address, next) {
            geocoder.geocode({address:address}, function (results,status)
                {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var p = results[0].geometry.location;
                        var lat=p.lat();
                        var lng=p.lng();
                        createMarker(address,lat,lng);
                    }
                    else {
                        if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                            nextAddress--;
                            delay++;
                        } else {
                        }
                    }
                    next();
                }
            );
        }
        function createMarker(add,lat,lng) {
            var contentString = add;
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat,lng),
                map: map,
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(contentString);
                infowindow.open(map,marker);
            });

            bounds.extend(marker.position);

        }
        var locations = [
            {% if ZwolleGegevens %}
            {% for ZwolleGegevens in ZwolleGegevens %}
            '{{ ZwolleGegevens.ORG }}, {{ ZwolleGegevens.ADD1 }} {{ ZwolleGegevens.ADD2 }}, {{ ZwolleGegevens.PC }} {{ ZwolleGegevens.CITY }}',
            {% endfor %}
            {% endif %}
        ];
        var nextAddress = 0;
        function theNext() {
            if (nextAddress < locations.length) {
                setTimeout('geocodeAddress("'+locations[nextAddress]+'",theNext)', delay);
                nextAddress++;
            } else {
                map.fitBounds(bounds);
            }
        }
        theNext();

    </script>
{% endblock %}