{% extends 'base.html.twig' %}

{% block body %}
    <div class="container google-maps">
        <div class="row">
            <div id="map" style="height: 500px; width: 100%;">
            </div>
{#                        <div style="width: 100%;position: relative;"><iframe width="100%" height="500px" src="https://maps.google.com/maps?width=100%&amp;height=500px&amp;hl=en&amp;q=zwolle%20centerum+(Project%20Zwolle)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/es/">gmapgen es</a> & <a href="https://dnatestafkomstvergelijken.nl/">dna test afkomst</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />#}
        </div>
    </div>
    <div class="container">
            <!-- Blog Entries Column -->

                <h1 class="my-4">Resultaat
                </h1>


                    {% if ZwolleGegevens %}
                    {% for ZwolleGegevens in ZwolleGegevens %}
                    <div class="row  border-bottom 5px;" style="margin-top: 15px;">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid " src="http://placehold.it/555x237" alt="">
                            </a>
                        </div>
                        <div class="col-md-5 font-weight-light">
                            <h3>{{ ZwolleGegevens.ORG }}</h3>
                            {% if ZwolleGegevens.LOC == 1 %}
                                <p class="card-text">Adres: {{ ZwolleGegevens.ADD1 }} {{ ZwolleGegevens.ADD2 }}{{ ZwolleGegevens.ADD3 }}, {{ ZwolleGegevens.PC }}</p>
                            {% else %}
                                <p class="card-text">Locatie: Er zijn geen locatie gevonden.</p>
                            {% endif %}
                            {% if ZwolleGegevens.WEB == 1 %}
                                <p class="card-text">Website: <a href="{{ ZwolleGegevens.Address }}" target="_blank">{{ ZwolleGegevens.Address }}</a></p>
                            {% else %}
                                <p class="card-text">Website: Er is geen website gevonden.</p>
                            {% endif %}
                            <a class="btn btn-outline-primary" href="{{ path('bedrijf', { 'slug' :  ZwolleGegevens.id }) }}">Bekijk bedrijf</a>
                        </div>
                    </div>

                    {% endfor %}
                        </div>
                        </div>
                {% else %}
                    <p>Er zijn Geen Gegevens gevonden</p>
                    </div>
                    </div>
                {% endif %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMkHJ8JOmKtDtxYBlzRmXDZg9XFs1um6U&callback=initMap"></script>
    <script type="text/javascript">

        var locations = [
            ['Jisk Lieftink Pianist',],
            ['Coogee Beach', -33.923036, 151.259052, 4],
            ['Cronulla Beach', -34.028249, 151.157507, 3],
            ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
            ['Maroubra Beach', -33.950198, 151.259302, 1]
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: new google.maps.LatLng(52.5120114, 6.0950112),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>
{% endblock %}