{% extends 'base.html.twig' %}

{% block body %}
    <div class="container google-maps">
        <div class="row">
            <div id="map" style="height: 500px; width: 100%; padding-bottom: 24px;">
            </div>
        </div>
    </div>
    <div class="container">
            <!-- Blog Entries Column -->

                <h1 class="my-4">Resultaat
                </h1>


                    {% if ZwolleGegevens %}
                    {% for ZwolleGegevens in ZwolleGegevens %}
                    <div class="row  border-bottom 5px;" style="margin-top: 15px;">
                        <div class="col-md-7">
                            <img class="img-fluid " src="../../assets/images/testimage.png" alt="">
                        </div>
                        <div class="col-md-5 font-weight-light">
                            <h3>{{ ZwolleGegevens.ORG }}</h3>
                            {% if ZwolleGegevens.LOC == 1 %}
                                <p class="card-text">Adres: {{ ZwolleGegevens.ADD1 }} {{ ZwolleGegevens.ADD2 }}{{ ZwolleGegevens.ADD3 }}, {{ ZwolleGegevens.PC }}</p>
                            {% else %}
                                <p class="card-text">Locatie: Er zijn geen locatie gevonden.</p>
                            {% endif %}
                            {% if ZwolleGegevens.WEB == 1 %}
                                <p class="card-text">Website: <a href="http://www.{{ ZwolleGegevens.Address }}" target="_blank">http://www.{{ ZwolleGegevens.Address }}</a></p>
                            {% else %}
                                <p class="card-text">Website: Er is geen website gevonden.</p>
                            {% endif %}
                            <a class="btn btn-outline-primary" href="{{ path('bedrijf', { 'slug' :  ZwolleGegevens.id }) }}">Bekijk bedrijf</a>
                        </div>
                    </div>

                    {% endfor %}
                        </div>
                        </div>
                {% else %}
                    <p>Er zijn Geen Gegevens gevonden</p>
                    </div>
                    </div>
                {% endif %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMkHJ8JOmKtDtxYBlzRmXDZg9XFs1um6U&callback=initMap"></script>
    <script type="text/javascript">
        var delay = 1;
        var infowindow = new google.maps.InfoWindow();
        var latlng = new google.maps.LatLng(52.5120114, 6.0950112);
        var mapOptions = {
            zoom: 16,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var geocoder = new google.maps.Geocoder();
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var bounds = new google.maps.LatLngBounds();

        function geocodeAddress(address, next) {
            geocoder.geocode({address:address}, function (results,status)
                {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var p = results[0].geometry.location;
                        var lat=p.lat();
                        var lng=p.lng();
                        createMarker(address,lat,lng);
                    }
                    else {
                        if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                            nextAddress--;
                            delay++;
                        } else {
                        }
                    }
                    next();
                }
            );
        }
        function createMarker(add,lat,lng) {
            var contentString = add;
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat,lng),
                map: map,
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(contentString);
                infowindow.open(map,marker);
            });

            bounds.extend(marker.position);

        }
        var locations = [
            {% if ZwolleGegevens %}
            {% for ZwolleGegevens in ZwolleGegevens %}
            '{{ ZwolleGegevens.ORG }}, {{ ZwolleGegevens.ADD1 }} {{ ZwolleGegevens.ADD2 }}, {{ ZwolleGegevens.PC }} {{ ZwolleGegevens.CITY }}',
            {% endfor %}
            {% endif %}
        ];
        var nextAddress = 0;
        function theNext() {
            if (nextAddress < locations.length) {
                setTimeout('geocodeAddress("'+locations[nextAddress]+'",theNext)', delay);
                nextAddress++;
            } else {
                map.fitBounds(bounds);
            }
        }
        theNext();

    </script>
{% endblock %}